@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
   
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="registration-form">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.FirstName" type="text" class="form-control item" id="username" placeholder="FirstName">
        </div>
        <div class="form-group">
            <input asp-for="Input.LastName" type="text" class="form-control item" id="username" placeholder="LastName">
        </div>
        <div class="form-group">
            <input asp-for="Input.Email" type="text" class="form-control item" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" type="password" class="form-control item" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input asp-for="Input.ConfirmPassword" type="password" class="form-control item" id="password" placeholder="ConfirmPassword">
        </div>

        <button type="submit" class="btn btn-block create-account">Register</button>
    </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            @*<h4>Use another service to register.</h4>*@
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
@*                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>*@
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


